<script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>

<div ng-if="mensagem_erro !== ''" class="alert alert-danger" role="alert">
  <strong>Oops!</strong> {{ mensagem_erro }}
</div>

<link rel="stylesheet" href="css/login.css">	


<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" ng-model="usuario" placeholder="username"/>
      <input type="password" ng-model="senha" placeholder="password"/>
      <button ng-click="Logar()">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>